<?xml version="1.0" encoding="UTF-8"?>
<!-- Widget Configuration Reference: http://docs.blackberry.com/en/developers/deliverables/15274/ -->
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:rim="http://www.blackberry.com/ns/widgets"
  version="{{ version }}"
  id="{{ widget_id }}">
<name>{{ widget_name }}</name>
<author href="{{ author_href }}" email="{{ author_email }}">{{ author_name }}</author>
<description>{{ widget_description }}</description>
<license href="{{ license_href }}">{{ license_text }}</license>

<feature id="blackberry.system" required="true" version="1.0.0.0" />
<feature id="{{ framework_namespace }}" required="true" version="1.0.0" />
<feature id="blackberry.find" required="true" version="1.0.0.0" />
<feature id="blackberry.identity" required="true" version="1.0.0.0" />
<feature id="blackberry.pim.Address" required="true" version="1.0.0.0" />
<feature id="blackberry.pim.Contact" required="true" version="1.0.0.0" />
<feature id="blackberry.io.file" required="true" version="1.0.0.0" />
<feature id="blackberry.utils" required="true" version="1.0.0.0" />
<feature id="blackberry.io.dir" required="true" version="1.0.0.0" />
<feature id="blackberry.app" required="true" version="1.0.0.0" />
<feature id="blackberry.app.event" required="true" version="1.0.0.0" />
<feature id="blackberry.invoke" required="true" version="1.0.0.0" />
<feature id="blackberry.invoke.MapsArguments" required="true" version="1.0.0.0" />
<feature id="blackberry.system.event" />
<feature id="blackberry.identity.phone" />

<feature id="blackberry.media.camera" />
<feature id="blackberry.ui.dialog" />

<access subdomains="true" uri="file:///store/home"/>
<access subdomains="true" uri="file:///SDCard"/>
{{# access }}
<access subdomains="{{ subdomains }}" uri="{{ uri }}" />
{{/ access }}

<icon rim:hover="false" src="resources/icon.png"/>
<icon rim:hover="true" src="resources/icon_hover.png"/>

<content src="index.html"/>

<rim:loadingScreen backgroundColor="#000000"
  foregroundImage="resources/loading_foreground.png" onFirstLaunch="true">
    <rim:transitionEffect type="fadeOut"/>
</rim:loadingScreen>

<rim:orientation mode="{{app_orientation}}" />
{{# no_cursor? }}
<rim:navigation mode="focus" />
{{/ no_cursor? }}

<rim:permissions>
    <rim:permit>use_camera</rim:permit>
    <rim:permit>read_device_identifying_information</rim:permit>
    <rim:permit>access_shared</rim:permit>
    <rim:permit>read_geolocation</rim:permit>
</rim:permissions>

</widget>
