<?xml version="1.0" encoding="UTF-8"?>
<!-- Widget Configuration Reference: http://docs.blackberry.com/en/developers/deliverables/15274/ -->
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:rim="http://www.blackberry.com/ns/widgets" 
  version="{{ widget_version }}" 
  id="{{ widget_id }}">
<name>{{ widget_name }}</name>
<author href="{{ author_href }}" email="{{ author_email }}">{{ author_name }}</author>
<description>{{ widget_description }}</description>
<license></license>
<feature id="blackberry.system" required="true" version="1.0.0.0"/>
<feature id="phonegap" required="false" version="1.0.0"/>
<access subdomains="true" uri="file:///store/home"/>
<access subdomains="true" uri="file:///SDCard"/>
<icon rim:hover="false" src="resources/icon.png"/>
<icon rim:hover="true" src="resources/icon_hover.png"/>
<content src="index.html"/>
<rim:loadingScreen backgroundColor="#000000" foregroundImage="resources/loading_foreground.png" onFirstLaunch="true">
  <rim:transitionEffect type="fadeOut"/>
</rim:loadingScreen>
</widget>
