<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIconFiles</key>
    <array>
        {{# icons }}
        <string>{{ to_s }}</string>
        {{/ icons }}
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        {{# app_orientations }}
        <string>{{ to_s }}</string>
        {{/ app_orientations }}
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        {{# app_orientations }}
        <string>{{ to_s }}</string>
        {{/ app_orientations }}
    </array>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleDisplayName</key>
    <string>{{ product_name }}</string>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIconFile</key>
    <string>icon.png</string>
    <key>CFBundleIdentifier</key>
    <string>{{ bundle_identifier }}</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>{{ product_name }}</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>{{ bundle_version }}</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    {{# devices }}
    <key>{{ to_s }}</key>
    <string></string>
    {{/ devices }}
    {{# exit_on_suspend? }}
    <key>UIApplicationExitsOnSuspend</key>
    <true/>
    {{/ exit_on_suspend? }}
    {{# fullscreen? }}
    <key>UIStatusBarHidden</key>
    <true/>
    {{/ fullscreen? }}
    {{# prerendered_icon? }}
    <key>UIPrerenderedIcon</key>
    <true/>
    {{/ prerendered_icon? }}
    {{# statusbar_style }}
    <key>UIStatusBarStyle</key>
    <string>{{ to_s }}</string>
    {{/ statusbar_style }}
    <key>CFBundleURLTypes</key>
    <array>{{# url_schemes }}
      <dict>
      <key>CFBundleTypeRole</key>
      <string>{{ role }}</string>
      <key>CFBundleURLName</key>
      <string>{{ name }}</string>
      <key>CFBundleURLSchemes</key>
      <array>
        {{# schemes }}
        <string>{{ to_s }}</string>
        {{/ schemes }}
      </array>
      </dict>
      {{/ url_schemes }}</array>
    </dict>
</plist>
