<?xml version="1.0" encoding="utf-8"?>
<Deployment xmlns="http://schemas.microsoft.com/windowsphone/2009/deployment" AppPlatformVersion="7.1">
  <App xmlns="" ProductID="{{guid}}" Title="{{ title }}" 
       RuntimeType="Silverlight" Version="{{version}}" Genre="apps.normal"  
       Author="{{ author }}" 
       Description="{{ description }}" 
       Publisher="{{ author }}">
    
    <IconPath IsRelative="true" IsResource="false">ApplicationIcon.png</IconPath>
    <Capabilities>
      {{#capabilities}}
      <Capability Name="{{name}}" />
      {{/capabilities}}
      <Capability Name="ID_CAP_WEBBROWSERCOMPONENT" />
    </Capabilities>
    
    <Tasks>
      <DefaultTask Name="_default" NavigationPage="MainPage.xaml" />
    </Tasks>
    <Tokens>
      <PrimaryToken TokenID="Cordova_1._5._0_Starter1Token" TaskName="_default">
        <TemplateType5>
          <BackgroundImageURI IsRelative="true" IsResource="false">Background.png</BackgroundImageURI>
          <Count>0</Count>
          <Title>Cordova_1._5._0_Starter1</Title>
        </TemplateType5>
      </PrimaryToken>
    </Tokens>
  </App>
</Deployment>
